# Ignore everything by default
* export-ignore

# Include only these in distribution
bin/ -export-ignore
bin/** -export-ignore
src/ -export-ignore
src/** -export-ignore
composer.json -export-ignore
extension.neon -export-ignore
LICENSE -export-ignore
