{% types {
    data: '\\Ruudk\\GraphQLCodeGenerator\\Twig\\Generated\\Fragment\\AdminProjectList',
} %}

{% graphql %}
fragment AdminProjectList on Query {
    viewer {
        name
    }
    projects {
        ...AdminProjectRow
    }
}
{% endgraphql %}

<h1>Good day, {{ data.viewer.name }}</h1>

<h3>Your projects</h3>

{% for project in data.projects %}
    {{ include('_project_row.html.twig', {project: project.adminProjectRow}) }}
{% endfor %}
